@model BoxONE.Domain.Entities.Client

<div class="client">
    <h3><a href="#">@Model.LastName, @Model.FirstName @Model.MiddleName</a></h3>
    Date of Birth: @Model.DOB<br />
    SSN: @Model.SSN<br />
    Start Date: @Model.StartDate<br />
    End Date: @Model.EndDate<br />
    Active: 
    @if (Model.Active == 1)
    {
        <b>Active</b><br /><br />
    }
    else
    {
        <b>NOT Active</b><br /><br />
    }
</div>