@model BoxONE.Domain.Entities.Client

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Summary</title>
</head>
<body>
    <div>

        <h2>Name: @Model.FirstName @Model.MiddleName @Model.LastName</h2>
        Client ID: @Model.ClientID
        DOB: @Model.DOB
        SSN: @Model.SSN
        Active: @Model.Active
    </div>
</body>
</html>
